@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

/* Style the divs with the suits */
.top-suit {
    font-size: 50px;
}

.bottom-suit {
    font-size: 50px;
}


.spade {
color: black;
font-size: 50px;
}

.club {
color: black;
font-size: 50px;
}

.heart {
color: red;
font-size: 50px;
}

.diamond {
color: red;
font-size: 50px;
}

