/* @import "bootstrap/dist/css/bootstrap.min.css"; */

body{
    background: green;
}

.card {
    display: inline-block;
    font-size: 60px;
    text-align: center;
    background: whitesmoke;
    margin: auto;
    height: 400px;
    width: 280px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    &::before{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 80px;
    }
    &::after{
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 80px;
    }
    &.spade::before, &.spade::after{content: '\2660';}
    &.club::before, &.club::after{content: '\2663';}
    &.heart::before, &.heart::after{content: '\2665';}
    &.diamond::before, &.diamond::after{content: '\2666';}
}

.number {
    /* border: 1px solid red; */
    /* font-size: 70px; */
    /* margin-top: 60px; */
}
.spade {
color: black;
}

.club {
color: black;
}

.heart {
color: red;
}

.diamond {
color: red;
}

